<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Project | Your Group Name</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="logo">Group 3</a>

      <div class="nav-links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/project" class="active">Project</a>
      </div>
    </nav>

    <main class="container">
      <h1>Our Project</h1>
      <p>
       Our project is to create a web service and scheduling system for Diamond Finish Detailing
      </p>
      <i>
        This is a simple demo project created to understand the assignment 1.
      </i>
    </main>

    <footer class="footer">
      <p>&copy; 2026 Group Name. All rights reserved.</p>
    </footer>
  </body>
</html>
